:root {
    --uiFont: 'Secular One', sans-serif;
    --openSans: 'Open Sans', sans-serif;
    --disabled: #d1d5db;
    --hover: #99f6e4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height:100%
}

.overlay {
    z-index: 10;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(3px);
    background-color: rgba(34,34,34, 0.4);
}
.overlayGameMenu {
    z-index: 11;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0px;
    width: 100%;
}
.overlayBox {
    
    border: 1px solid black;
    padding: 10px;
    display:flex;
    flex-direction: column;
}

.overlayTxt {
    font-size: 60px;
    font-weight: bold;
    font-family: var(--openSans);
}

.newGameBtn {
    align-self: center;
    font-family: var(--uiFont);
    width: 200px;
}

.hidden {
    visibility: hidden;
}

.masked {
    background-color: gainsboro !important;
}

.topUi {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.uiTxt, .gameTxt, .gameTxt2 {
    justify-content: center;
    font-family: var(--uiFont);
    display: flex;
    text-align: center;
}

#startDiv {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    flex-direction: column;
}

#screenDiv {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#startGameTxt {
    font-size: 100px;
    font-family: var(--uiFont);
}

#startGameBtn {
    display:flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

#startGameBtn > img {
    width: 50px;
}

#startGameBtn > p {
    font-family: var(--openSans);
    font-size: 40px;
}

.boardContainer {
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 3px;
}

.boardBlocks {
    width: 30px;
    height:30px;
    border: 1px solid black;
   
    
}

#gameBoardDiv {
    display: flex;
    gap: 100px;
}

.unchecked:hover {
    background-color: white;
    cursor: pointer;
}

.markHit {
    background-image: url("./svgs/markHit.svg");
    background-size: contain;
    
    
    object-fit: fill;
}

.markHit:disabled, .markMiss:disabled {
    cursor: not-allowed;
}

.markMiss {
    background-image: url("./svgs/markMiss.svg");
    background-size: contain;
    object-fit: fill;
}

#scoreDiv {
    width: 226px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#shipUiDiv {
    width: 800px;
}
#shipBtnDiv {
    display: flex;
    padding: 10px;
    gap: 10px;
}

.shipBtns:hover:not(:disabled) {
    cursor: pointer;
}

.shipBtns {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#shipBtnDiv > button {
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    
}

.shipBlock {
    background-color: black;
}

.destroyerContainer {
    
}

.submarineContainer, .cruiserContainer {
    
}

.horizontal.destroyerContainer {
    cursor: grabbing;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3px;
    align-self: flex-start;
}

.horizontal.battleshipContainer {
    cursor: grabbing;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    align-self: flex-start;
}

.horizontal.submarineContainer {
    cursor: grabbing;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    align-self: flex-start;
}

.horizontal.cruiserContainer {
    cursor: grabbing;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    align-self: flex-start;
}
.vertical {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3px;
    align-self: flex-start;
}

.horizontal.carrierContainer {
    cursor: grabbing;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3px;
    align-self: flex-start;
}


#shipInventoryDiv {
    padding: 5px;
    gap: 20px;
    width: 800px;
    display: flex;
    border: 1px solid black;
}

.disabledBtn:disabled {
    background-color: var(--disabled);
    
}

.dragging {
    display:none;
}

.drag-over {
    border: dashed 3px red;
}

#readyBtn {
    padding: 5px;
    background-color: white;
    border-radius: 7px;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#readyBtn:hover {
    background-color: var(--hover);
    cursor: pointer;

}

.disabledBoard {
    pointer-events: none;
}


